<h1>Welcome to The Billing Page</h1>
<form>

	<input type="text" placeholder="78543987543897798"><button name="searchBtn">Search</button>
	<table border="1">
		<th>Serial number</th>
		<th>Product Name</th>
		<th>Quantity</th>
		<th>Discounted Value</th>
		<th>Net Amount</th>
		<tr>
			<td style="text-align: center;">897549874359784</td>
			<td style="text-align: center;">Rin Bar</td>
			<td style="text-align: center;">10</td>
			<td style="text-align: center;">9.25</td>
			<td style="text-align: center;">92.5</td>
		</tr>
		<tr>
			<td style="text-align: center;">897549874359784</td>
			<td style="text-align: center;">Rin Bar</td>
			<td style="text-align: center;">10</td>
			<td style="text-align: center;">9.25</td>
			<td style="text-align: center;">92.5</td>
		</tr>

		<tr>
			<td style="text-align: center;">897549874359784</td>
			<td style="text-align: center;">Rin Bar</td>
			<td style="text-align: center;">10</td>
			<td style="text-align: center;">9.25</td>
			<td style="text-align: center;">92.5</td>
		</tr>

		<tr>
			<td style="text-align: center;">897549874359784</td>
			<td style="text-align: center;">Rin Bar</td>
			<td style="text-align: center;">10</td>
			<td style="text-align: center;">9.25</td>
			<td style="text-align: center;">92.5</td>
		</tr>

		<tr>
			<td style="text-align: center;">897549874359784</td>
			<td style="text-align: center;">Rin Bar</td>
			<td style="text-align: center;">10</td>
			<td style="text-align: center;">9.25</td>
			<td style="text-align: center;">92.5</td>
		</tr>

		<tr>
			<td style="text-align: center;">897549874359784</td>
			<td style="text-align: center;">Rin Bar</td>
			<td style="text-align: center;">10</td>
			<td style="text-align: center;">9.25</td>
			<td style="text-align: center;">92.5</td>
		</tr>


	</table>
</form>